.demTable {
    width:100%;
    height:100%;
    border:1px solid #151010;
    border-collapse:collapse;
    border-spacing:0px;
    padding:0px;
    font-size: 0.5em !important;
    font-family: Arial, Helvetica, "Helvetica Neue";
    font-weight: 900;
}
.demTable th {
    border:0px solid #40f214;
    padding:0px;
    color: #313030;
}
.demTable td {
    border:0px solid #b3adad;
    text-align:center;
    padding:5px;
    color: #eb2294;
}
.vlbutton {
    width: 64px;
    height: 64px;
}